doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title RedditCloneJS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron.css', rel='stylesheet')

    script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')

    script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')

  body
    include templates/navbar

    .jumbotron
      .container
        h1 Hello, world!
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        p
          a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;
    .container

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='#{pathToAssets}/dist/js/bootstrap.min.js')
